---
import ButtonSubmit from "../components/ButtonSubmit.svelte";
import TextArea from "../components/TextArea.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Fix my english.">
  <main class="flex flex-col items-center bg-[url('/background/uk-flag.png')] h-screen">
    <header>
      <section class="flex flex-row items-center opacity-100"> 
        <img src="https://hatscripts.github.io/circle-flags/flags/us.svg" width="48">
        <h1 class="mx-[20px]"> Fix my english </h1>
        <img src="https://hatscripts.github.io/circle-flags/flags/uk.svg" width="48">
      </section>
    </header>
    <TextArea client:visible/>
    <ButtonSubmit client:visible/>
    
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align-last: center;
  }
</style>
