---
import Layout from "../layouts/Layout.astro";
import ButtonRedirect from '../components/ButtonRedirect.svelte';
---

<Layout title='fix my english'>
    <main class="flex flex-col items-center justify-center bg-cover bg-[url('/background/bigben.jpeg')] h-screen">
      <header>
        <section class="flex flex-col justify-center items-center mr-[50px]"> 
          <h1 class="text-5xl antialiased font-medium text-white"> Welcome to Fix My English </h1>
          <div class="flex flex-col justify-center items-center ml-[10px] mt-[20px] text-white">
            <p> With this app you'll be able to correct your english grammar.</p>
            <p> Just enter your prompt and let the IA fix it for you.</p>
          </div>
          <ButtonRedirect/> 
        </section>
      </header>
      
    </main>
  </Layout>


