---
import ButtonSubmit from "../components/ButtonSubmit.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Fix my english.">
  <main class="flex flex-col items-center">
    <header>
      <h1>🇺🇸 Fix my english 🇬🇧</h1>
    </header>
    <label >
      <textarea
        class="flex-1 min-w-[400px] px-4 py-4 mt-6 text-base text-gray-700 font-extralight placeholder:text-gray-300 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
        placeholder="Enter your english phrase."
        name="comment"
        id="result"
        rows="6"
        cols="40"></textarea>
    </label>
    <ButtonSubmit client:visible/>
    
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align-last: center;
  }
</style>
